VLM_BASE_URL= #YOUR OPENAI COMPATIBLE API (optional)
VLM_API_KEY= #YOUR OPENAI API KEY (required)
VLM_MODEL=gpt-4o
MODEL_NAME=gpt-4o # YOU CAN OBVIOUSLY CHANGE THESE
EMBEDDING_MODEL=openai/text-embedding-3-large
QDRANT_PATH=./qdrant